@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff7ed;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    @apply min-h-[calc(100vh-57px)] md:px-4 px-2 md:py-4 py-2;
  }
}

@layer components {
  .main-input {
    @apply block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-amber-400 focus:ring-amber-300 focus:outline-none focus:ring focus:ring-opacity-40;
  }

  .active-link {
    color: #161616;
    text-decoration: underline;
    font-weight: bold;
  }
}
